.welcome {
  text-align: center;
  margin-bottom: 1.2rem;
}

.tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  text-align: center;
}

.db_block {
  border: 1.2px solid var(--color-primary);
  border-radius: 7px;
  padding: 20px 10px;
}

.db_block h3 {
  color: var(--color-primary-variant);
  margin-bottom: 1.5rem;
}

.Functions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 450px) {
  .tables {
    grid-template-columns: 1fr;
  }
}
